<form action="/listing/<%=listing._id%>?_method=PUT" method="POST" class="needs-validation" enctype="multipart/form-data">
    <div class="row">
        <div class="col-8">
          <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input type="text" name="listing[title]" class="form-control" value="<%=listing.title%>"/>
          </div>
          <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea name="listing[description]" class="form-control"><%=listing.description%></textarea>
          </div>
          <div class="mb-3">
            <h6>Image Preview</h6>
            <img style="height: 300px;" src="<%=originalImageUrl%>" alt="<%=listing.title%> Image">
          </div>
          <div class="mb-3">
            <label for="image" class="form-label">Image</label>
            <input type="file" name="listing[image]" class="form-control" value="<%=listing.image%>"/>
          </div>
          <div class="mb-3">
            <label for="price" class="form-label">Price</label>
            <input type="text" name="listing[price]" class="form-control" value="<%=listing.price%>" />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="mb-3 col-3">
          <label for="location" class="form-label">Location</label>
          <input type="text" name="listing[location]" class="form-control" value="<%=listing.location%>"/>
        </div>
        <div class="mb-3 col-5">
          <label for="country" class="form-label">Country</label>
          <input type="text" name="listing[country]" class="form-control" value="<%=listing.country%>"/>
        </div>
      </div>
      <button class="btn btn-success" type="submit">Submit</button>
</form>